:root{
  --primary:white;
  --secondary:black;
  --hover:rgb(211, 19, 51);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:var(--primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.exclusiveleft {
  margin-right: auto;
  margin-left: 7%;
}

.exclusive span {
  font-size: larger;
  font-weight: bold;
  color:var(--secondary);
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color:var(--hover);
}

.Searchbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cartbox .cart {
  font-size: 1.2rem;
  color: var(--secondary);
  cursor: pointer;
}

.cartbox .cart:hover {
  color: var(--hover);
}


.leftside-nav{
  font-size: 1.5rem ;
  margin: 2% 0 0 7%;
  letter-spacing: 0.5px;
  border-right: 2px solid var(--secondary);
  width: 250px;
  height: auto;
}

.leftside-nav .nav-links{
  margin-bottom: 16px;
}